<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性值通常设置为：包名 + SQL映射文件名来指定唯一的命名空间 -->
<mapper namespace="com.story.dao.IdeaDao">

    <select id="listIdeasByUserId" resultType="com.alibaba.fastjson.JSONObject">
        select ideaId, title, content, likes, visits, typeId, visibility from idea where userId = #{userId} limit #{currentBegin}, #{pageSize};
    </select>

    <select id="listAllIdeas" resultType="com.story.domain.Idea">
        select ideaId, title, content, likes, visits, typeId, visibility from idea;
    </select>

    <select id="listIdeasByTypeId" resultType="com.alibaba.fastjson.JSONObject">
        select ideaId, title, content, likes, visits, typeId, visibility from idea where typeId = #{typeId} limit #{currentBegin}, #{pageSize};
    </select>

    <select id="listIdeasByTitle" resultType="com.alibaba.fastjson.JSONObject">
        select ideaId, title, content, likes, visits, typeId, visibility from idea where title like #{title} limit #{currentBegin}, #{pageSize};
    </select>

    <select id="listOneIdea" resultType="com.alibaba.fastjson.JSONObject">
        select ideaId, title, content, likes, visits, typeId, visibility from idea where ideaId = #{ideaId};
    </select>

    <insert id="saveIdea">
        insert into idea (title, content, likes, visits, typeId, userId, visibility)
        values (#{title}, #{content}, #{likes}, #{visits}, #{typeId}, #{userId}, #{visibility});
    </insert>

    <update id="updateIdea">
        update idea set title = #{title}, content = #{content}, likes = #{likes}, visits = #{visits}, typeId = #{typeId}, visibility = #{visibility}
        where ideaId = #{ideaId};
    </update>

    <delete id="deleteIdea">
        delete from idea where ideaId = #{ideaId};
    </delete>

    <select id="getTypeByTypeName" resultType="com.story.domain.Type">
        select * from type where typeName = #{typeName};
    </select>

</mapper>