<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性值通常设置为：包名 + SQL映射文件名来指定唯一的命名空间 -->
<mapper namespace="com.story.dao.UserDao">

    <select id="listIdeas" resultType="com.alibaba.fastjson.JSONObject">
        select ideaId, title, content, likes, visits from idea i inner join user u on i.userId = u.userId;
    </select>


    <insert id="saveIdea">
        insert into idea (title, content, likes, visits, typeId)
        values (#{title}, #{content}, #{likes}, #{visits}, #{typeId});
    </insert>

    <update id="updateUser">
        update user set sign = #{sign}, email = #{email}, gender = #{gender}, head = #{head}
        where userAccount = #{userAccount};
    </update>

</mapper>